{% extends 'base.html' %}


{% block title %}
    Primeflix - {{object.titulo}}
{% endblock %}

{% block content %}
    <main class="bg-primary_black min-h-screen w-full">
        
        <p>asd</p>

    </main>



    <div class="py-16">
        <div>
        <p>{{object.titulo}}</p>
        <p>{{object.descricao}}</p>
        <p>{{object.vizualizacoes}}</p>
        <img src="{{object.thumb.url}}">
        {% if object.episodios.all.count > 0%}
            <h2>Episódios</h2>
            <div class="py-6">
                {% for temp in object.get_temp %}
                    <div>
                        <h2>Temporada {{forloop.counter}}:</h2>
                        {% with t as forloop.counter %}
                            {% for ep in object.episodios.filter %}
                                {% if ep.temporada == forloop.parentloop.counter %}
                                    <a href="{{ep.video}}"><p>{{ep}}</p></a>
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                        <hr>
                    </div>
                {% endfor %}
        {% endif %}
        </div>
    </div>
    <div class="py-6">
        {% for i in filmes_rel %}
            <a href={% url 'filme:detalhesfilme' i.id %}>
                <p>{{i}}</p>
            </a>
        {% endfor %}
    </div>

    
{% endblock %}