{% extends 'base.html' %}
{% load static %}

{% block title %}
    Primeflix - Filmes
{% endblock %}

{% block content %}
    <div class="py-10"> 
        <ul>
        {% for item in object_list %}
            <div class="py-8">
                <ul>
                   <a href="{% url 'filme:detalhesfilme' item.id %}"><li>{{item.titulo}}</li></a>
                    <li>{{item.descricao}}</li>
                </ul>
                <img src='{{item.thumb.url}}'>
            </div>
        {% endfor %}
        </ul>
    </div>


{% endblock %}