<head>
    <meta charset="UTF-8">
    <title>
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <body class="text-center">
        <h1 class="text-red-600 text-5xl font-bold">
           Tutorial and Example
        </h1>
        <b>Space Between Class - Tailwind CSS </b>
        <div class="py-4 mx-4 space-y-4">
            <div class="bg-red-400 h-16 rounded-lg
                        border-2 border-green-800">1</div>
            <div class="py-4 bg-red-400 h-16 rounded-lg
                        border-2 border-green-800">2</div>
            <div class="bg-red-400 h-16 rounded-lg
                        border-2 border-green-800">3</div>
            <div class="bg-red-400 h-16 rounded-lg
                        border-2 border-green-800">4</div>
        </div>
</body>

